<form id="register">
  <section class="head">
    <a routerLink="/login"><</a>
    <h1>Créer un compte</h1>
    <p></p>
  </section>


  <span *ngIf="alertFirstname" class="alert-red">Veuillez indiquer un prénom</span>
    <label for="firstname">Prénom</label>
    <input type="text" name="firstname" id="firstname" required>

  <span *ngIf="alertLastname" class="alert-red">Veuillez indiquer un nom</span>
    <label for="lastname">Nom</label>
    <input type="text" name="lastname" id="lastname" required>

  <span *ngIf="alertUsername" class="alert-red">Veuillez indiquer un nom d'utilisateur</span>
    <label for="username">Nom d'utilisateur</label>
    <input type="text" name="username" id="username" required>

    <span *ngIf="alertEmail" class="alert-red">Veuillez indiquer un email</span>
    <label for="email">Adresse email</label>
    <input type="email" name="email" id="email" required>

    <span *ngIf="alertPassword" class="alert-red">Veuillez indiquer un mot de passe</span>
    <label for="password">Mot de passe</label>
    <input type="password" name="password" id="password" required>

  <span *ngIf="alertBirthdate" class="alert-red">Veuillez indiquer une date de naissance</span>
    <label for="birthdate">Date de naissance</label>
    <input type="date" name="birthdate" id="birthdate" required>

  <span *ngIf="alertStreet || alertNumber" class="alert-red">Veuillez indiquer une adresse</span>
    <label for="street">Rue</label>
    <input type="text" name="street" id="street" required>

    <label for="streetnumber">Numero</label>
    <input type="number" name="streetnumber" id="streetnumber">

  <span *ngIf="alertCity" class="alert-red">Veuillez indiquer une ville</span>
    <label for="city">Ville</label>
    <input type="text" name="city" id="city" required>

  <span *ngIf="alertZip" class="alert-red">Veuillez indiquer un code postal</span>
  <label for="zip">Code postal</label>
  <input type="text" name="zip" id="zip" required>

  <button type="button" (click)="register()">Inscription</button>
</form>
