<div class="logo">
    STUD<i>Shareat</i>
  </div>
  
  <form id="register">
    <h1>Create an account</h1>
    
    <label for="firstname">Firstname</label>
    <input type="text" name="firstname" id="firstname" aria-label="firstname">
    <input type="email" name="email" id="email" placeholder="barack.afritt@stud.be" aria-label="email" required >
    <input type="password" name="password" id="password" placeholder="password" aria-label="password" required >
  
    <button type="button">Create</button>
  </form>
  
  <section class="separator">
    <hr />
    <p>Or login</p>
    <hr />
  </section>
  
  <button type="button">Connection</button>