<form id="connection">
  <div class="logo">
    STUD<i>Shareat</i>
  </div>

  <h1>Connexion à l'app</h1>
  <p>Connectez-vous avec votre email</p>

  <p *ngIf='alertConnection' class="alert-red">Email ou mot de passe incorrect</p>
  <p *ngIf='alertEmail' class="alert-red">Email manquant</p>
  <input type="email" name="email" id="email" placeholder="emma.yonnaise@stud.be" aria-label="email" required >
  <p *ngIf='alertPassword' class="alert-red">Password manquant</p>
  <input type="password" name="password" id="password" placeholder="password" aria-label="password" required >

  <button type="button" (click)="login()">Connexion</button>
</form>

<section class="separator">
  <hr />
  <p>Ou créer un compte</p>
  <hr />
</section>

<button type="button" (click)="register()">Nouvel utilisateur</button>