<div class="logo">
  STUD<i>Shareat</i>
</div>

<form id="connection">
  <h1>Connection to the app</h1>
  <p>Sign-in with your email</p>

  <input type="email" name="email" id="email" placeholder="emma.yonnaise@stud.be" aria-label="email" required >
  <input type="password" name="password" id="password" placeholder="password" aria-label="password" required >

  <button type="button">Connection</button>
</form>

<section class="separator">
  <hr />
  <p>Or create an account</p>
  <hr />
</section>

<button type="button">New user</button>